<div ui-view="" ng-cloak="">
    <h3 class="center-align m-t-100 grey-text text-darken-3"
        ng-show="!($ctrl.loading || $ctrl.subjects.length)" translate="SUBJECTS.EMPTY"></h3>

    <div ng-show="$ctrl.subjects.length" class="row m-t-100">
        <ul class="row">
            <div class="row col offset-s2 s8">
                <li ng-repeat="subject in $ctrl.subjects" class="col s4 m4 m-b-10">
                    <div class="card hoverable pointer p-20" ng-click="$ctrl.details(subject)">
                        <div>
                            <div class="circle size-64 center-block" ng-style="{'background': subject.color}">
                                <h4 class="center-align line-64 white-text text-darken-3 thin">
                                    {{subject.label[0].toUpperCase()}}</h4>
                            </div>
                        </div>
                        <div class="m-t-30">
                            <h5 class="light center-align truncate">{{subject.label}}</h5>
                        </div>
                    </div>
                </li>
            </div>
        </ul>
    </div>

    <fab on-click="$ctrl.showModal = true"></fab>
    <new-subject ng-show="$ctrl.showModal" on-cancel="$ctrl.showModal = false" on-submit="$ctrl.addNewSubject(subject)"></new-subject>
</div>
