<div class='ng-modal' ng-show='show'>
    <div class='ng-modal-overlay' ng-click='hideModal()'></div>
    <div class='ng-modal-dialog' ng-style='dialogStyle'>
        <div class='ng-modal-dialog-content'>

            <div class="ng-modal-dialog-header">
                <h2 ng-show="exam.label">Edit exam</h2>
                <h2 ng-show="!exam.label">Add new exam</h2>
            </div>


            <select class="subjects dropdown">
                <option ng-repeat="subject in subjects">{{subject.label}}</option>
            </select>


            <div class="material-input">
                <input type="text" required id="label" name="label" ng-value="exam.info" ng-model="examInfo">
                <label for="label">Info</label>
            </div>

            <label>
                <input type="date">
            </label>


        </div>

        <div class="dialog-buttons">
            <div class="dialog-button" ng-click="saveOrUpdateExam(exam)">SAVE</div>
            <div class="dialog-button" ng-click="hideModal()">CANCEL</div>
        </div>

    </div>
</div>

