<div class='ng-modal' ng-show='show'>
    <div class='ng-modal-overlay' ng-click='hideModal()'></div>
    <div class='ng-modal-dialog' ng-style='dialogStyle'>
        <div class='ng-modal-dialog-content'>

            <div class="ng-modal-dialog-header">
                <h2 ng-show="subject.label">Edit subject</h2>
                <h2 ng-show="!subject.label">Add new subject</h2>
            </div>


            <div class="material-input">
                <input type="text" required id="label" name="label" ng-value="subject.label" ng-model="subjectLabel">
                <label for="label">Subject's Label</label>
            </div>

            <div class="ng-modal-dialog-colors">
                <h4>Colors</h4>

                <ul class="colors">
                    <li ng-repeat="color in colors" ng-click="selectColor($index)">
                        <div class="color" ng-style="{background: color}" ng-class="colorIndex == $index ? 'selected-color' : ''"></div>
                    </li>
                </ul>

            </div>

            <div class="dialog-buttons">
                <div class="dialog-button" ng-click="saveOrUpdateSubject(subject)">SAVE</div>
                <div class="dialog-button" ng-click="hideModal()">CANCEL</div>
            </div>

        </div>
    </div>
</div>
