<div class='ng-modal' ng-show='show'>
    <div class='ng-modal-overlay' ng-click='hideModal()'></div>
    <div class='ng-modal-dialog' ng-style='dialogStyle'>
        <div class='ng-modal-dialog-content'>

            <div class="ng-modal-dialog-color" ng-style="{background: subject.color}">

                <input type="text" id="ng-modal-dialog-subject-label" ng-value="subject.label" placeholder="Label">
                <input type="color" hidden disabled id="ng-modal-dialog-subject-color" ng-value="subject.color" value="#9B59B6">
            </div>

            <div class="dialog-buttons">
                <div class="dialog-button" ng-click="saveSubject(subject)">SAVE</div>
                <div class="dialog-button" ng-click="hideModal()">CANCEL</div>
            </div>

        </div>
    </div>
</div>
