<div ng-controller="SubjectsController">
    <p class="no-items" ng-show="!subjects.length">No subjects</p>

    <ul ng-show="subjects.length" class="two-columns">
        <li ng-repeat="subject in subjects" ng-click="updateSubject(subject)">
            <section class="dark subject-card card-border" ng-style="{'background': subject.color}">
                <div class="subject-card-top">
                    <div class="circle">
                        <div id="logo">
                            {{subject.label[0]}}
                        </div>
                    </div>
                    <p>{{subject.label}}</p>
                </div>
                <div class="subject-card-bottom">

                </div>
            </section>
        </li>
    </ul>


    <div class="fat" ng-click='toggleModal()'>
        +
    </div>

    <modal-dialog  subject='updatedSubject' show='modalShown' width='500px' height='80%'></modal-dialog>
</div>