<div class='ng-modal grey-text text-darken-3'>
    <div class='ng-modal-overlay row' ng-click='$ctrl.onCancel()'></div>
    <div class='ng-modal-dialog row col s4 offset-s4'>
        <div class="p-20">
            <h5 class="header center-align" translate="SUBJECTS.NEW.TITLE"></h5>

            <text-input label="{{'SUBJECTS.NEW.INPUT_LABEL' | translate}}" model="$ctrl.subject.label"></text-input>

            <color-choice on-change="$ctrl.changeColor(color)"></color-choice>

            <div class="m-b-30">
                <p class="p-20 right bold p-1-2" ng-class="$ctrl.subject.label ? 'green-text text-darken-2 p-enabled' : 'grey-text p-disabled'"
                   ng-click="$ctrl.onOk()" translate="SUBJECTS.NEW.BUTTON.SUBMIT"></p>

                <p class=" p-20 right bold p-1-2 red-text text-darken-2 p-enabled"
                   ng-click="$ctrl.onCancel()" translate="SUBJECTS.NEW.BUTTON.CANCEL"></p>
            </div>

        </div>
    </div>
</div>
