<div class='ng-modal grey-text text-darken-3'>
    <div class='ng-modal-overlay row' ng-click='$ctrl.onCancel()'></div>
    <div class='ng-modal-dialog row col s4 offset-s4'>
        <div class="p-20">
            <h5 class="header center-align" translate="SUBJECTS.NEW.TITLE"></h5>

            <!--TODO 09.09.2017 add 64-len validation-->
            <text-input label="{{'SUBJECTS.NEW.INPUT_LABEL' | translate}}" model="$ctrl.subject.label"></text-input>
            <color-choice on-change="$ctrl.changeColor(color)"></color-choice>

            <div class="m-b-30 p-b-10">
                <p class="waves-effect waves-teal btn-flat right bold p-1-2 green-text text-darken-2"
                   ng-class="$ctrl.subject.label ? '' : 'disabled'"
                   ng-click="$ctrl.onOk()" translate="SUBJECTS.NEW.BUTTON.SUBMIT"></p>

                <p class="waves-effect waves-teal btn-flat right bold p-1-2 red-text text-darken-2 p-enabled"
                   ng-click="$ctrl.onCancel()" translate="SUBJECTS.NEW.BUTTON.CANCEL"></p>
            </div>

        </div>
    </div>
</div>
