<!DOCTYPE html>
<html lang="en">
<head>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/login.css"/>
    <script src="/scripts/angular/angular.js"></script>
    <script src="/scripts/angular-route/angular-route.js"></script>

    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<div ng-app="ExamsHelperApp">


    <div class="sign_in">
        <h3 ng-controller="appName">{{appName}}</h3>

        <div class="sign_in-form" ng-controller="singInForm">
            <input type="text" placeholder="login" id="username" ng-model="username"/>
            <input type="password" placeholder="password" id="password" ng-model="password"/>

            <div class="buttons">
                <div class="button" id="submit" ng-click="tryToSignIn()">Sign in</div>
                <div class="button" id="create-account">Sign up</div>
            </div>

        </div>

    </div>


</div>

</body>
<script src="index.js"></script>
<script src="login.js"></script>
</html>
