<div class='ng-modal grey-text text-darken-3'>
    <div class='ng-modal-overlay row' ng-click='$ctrl.onCancel()'></div>
    <div class='ng-modal-dialog row col s4 offset-s4'>

        <div class="p-80-20" ng-style="{'background': $ctrl.exam.subject.color}">

            <div class="m-t-30">
                <dropdown selected="$ctrl.exam.subject" items="$ctrl.subjects" label="'label'"
                          placeholder="'EXAMS.NEW.SUBJECT_PLACEHOLDER' | translate"></dropdown>
            </div>
        </div>

        <div class="m-20">
            <text-input label="{{'EXAMS.NEW.INPUT_LABEL' | translate}}" model="$ctrl.exam.info"></text-input>
        </div>
        <div class="m-20">
            <datepicker placeholder="{{'EXAMS.NEW.CALENDAR_LABEL' | translate}}"></datepicker>
        </div>
        <div class="m-20">
            <timepicker placeholder="{{'EXAMS.NEW.CLOCK_LABEL' | translate}}"></timepicker>
        </div>

        <div class="m-b-30 p-b-10">
            <p class="waves-effect waves-teal btn-flat right bold p-1-2 green-text text-darken-2" ng-class="$ctrl.exam.info ? '' : 'disabled'"
               ng-click="$ctrl.onOk()" translate="SUBJECTS.NEW.BUTTON.SUBMIT"></p>

            <p class="waves-effect waves-teal btn-flat right bold p-1-2 red-text text-darken-2 p-enabled"
               ng-click="$ctrl.onCancel()" translate="SUBJECTS.NEW.BUTTON.CANCEL"></p>
        </div>
    </div>
</div>
