@import "index";

$main: $accent-color;
$main-light: lighten($main, 5%);
$main-dark: darken($main, 5%);
$white: #ffffff;
$gray-light: #FFCDD2;
$gray: #ddd;

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  width: 100%;
  height: 100%;
  background: url("/images/login_background.jpg") no-repeat;
}

.auth {
  max-width: 600px;
  max-height: 600px;
  background: rgba($primary-color, 0.95);

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  overflow: visible;

  text-align: center;

  .auth-content {
    margin: 20px auto;
    width: 80%;
    height: 80%;
    position: relative;
  }

  .tabs {
    padding: 0;

    li a {
      display: block;
      padding: 15px 0;
      background: rgba($gray-light, .25);
      color: $gray-light;
      font-size: 20px;
      float: left;
      width: 50%;
      text-align: center;
      cursor: pointer;
      transition: .5s ease;

      &:hover {
        background: $main-dark;
        color: $white;
      }

    }

    .active a {
      background: $main;
      color: $white;
    }
  }
}

@keyframes error {
  0%   {transform: translate(5px, 0);}
  20%  {transform: translate(-5px, 0);}
  40%  {transform: translate(5px, 0);}
  60%  {transform: translate(-5px, 0);}
  80%  {transform: translate(5px, 0);}
  100% {transform: translate(0, 0);}
}

.error {
  border: 1px $accent-color solid;
  animation: error;
  animation-duration:  0.5s;
  transition: transform 0.5s;
}

div {
  .card-border:hover {
    cursor: default;
  }
}

.sign-form {
  position: absolute;
  top: 100px;
  //border: 1px white solid;
  height: 450px;
  width: inherit;

  .inputs {
    margin-top: 60px;
  }

  form {
    input {
      width: calc(100% - 20px);
      float: left;
      padding: 16px 10px;
      margin: 10px auto;
      font-size: 1.3em;
      background: rgba(21, 21, 21, 0.5);

      color: white;

      &:nth-last-child(1) {
        margin-bottom: 30px;
      }
    }
  }

  .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: $main;
    color: $white;
    transition: all .5s ease;
    -webkit-appearance: none;

    &:hover, &:focus {
      background: $main-dark;
      cursor: pointer;
    }
  }

  .button-block {
    position: absolute;
    bottom: 30px;
    display: block;
    width: 100%;
  }

}

.error-message {
  position: absolute;
  top: 20px;
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 1.1em;
  color: white;
}

@media (max-width: 768px) {
  body {
    background: $primary-color;
  }
  .sign-form {
    position: relative;
    form input {
      width: 95%;
    }
    .button-block {
      bottom: 0;
    }
  }
  .card-border {
    box-shadow: none;
    &:hover {
      box-shadow: none;
    }
  }
  .auth {
    position: relative;
    top:0;
    margin: 0 auto;
    .auth-content {
      margin: 0 auto;
      width: 100%;
      height: 100%;
      .tabs li a {
        width: 100%;
      }
    }
  }
}