@keyframes pulse {
  0% {
    transform: scale(1.1, 1.1);
  }
  20% {
    transform: scale(0.9, 0.9);
  }
  40% {
    transform: scale(1.1, 1.1);
  }
  60% {
    transform: scale(0.9, 0.9);
  }
  80% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes showUp {
  0% {
    transform: scale(0, 0);
  }

  90% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.pulse-on-hover {
  transition: transform .1s ease-in-out;
}

.pulse-on-hover:hover {
  animation: pulse;
  animation-duration: 0.5s;
  transition: transform .1s ease-in-out;
}

.showUp {
  animation: showUp;
  animation-duration: 0.2s;
  transition: transform .1s ease-in-out;
}

.height-animation {
  overflow: hidden;
  transition: height .4s;
}