
.c-datepicker__header-date {
  height: 170px !important;
}

.c-datepicker {
  width: 350px !important;
  min-height: 650px !important;
}

.c-datepicker__day-body {
  text-align: center !important;
}

.c-datepicker__days {
    width: 90% !important;
}

.c-datepicker__header-date__time {
  display: none !important;
}

.c-datepicker__toggle {
  display: none !important;
}