$nice-red: #f44336;

.bor-rad {
  border-radius: 10px;
}

.border {
  border: 1px solid red;
}

.text {
  color: #67727A
}

.a {
  @extend .pointer;
  color: #039be5;
  &:hover {
    text-decoration: underline;
  }
}

.pointer {
  &:hover {
    cursor: pointer;
  }
}

.selected-color {
  border: 4px solid #689f38;
}

.input-error {
  color: $nice-red;
  float: left;
  margin-top: -20px;
  font-size: 0.8em;
}

.circle {
  border-radius: 100%;
}

.b-20 {
  bottom: 20px;
}

.always-center {
  position: fixed !important;
  left: 50%;
  margin-left: -27px;
}

.bold {
  font-weight: 700;
}

.p-disabled {
  &:hover {
    cursor: default;
  }
}

.p-enabled {
  &:hover {
    cursor: pointer;
  }
}

.b-b {
  border-bottom: 1px solid #e2e2e2;
}

.center-fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.switcher {
  background: #fff;
  padding: 7px !important;
  &:hover {
    margin-top: -1px;
    cursor: pointer;
    font-weight: 400;
  }
  &.active {
    background: $nice-red;
    color: white;
  }

}

.left-switcher {
  @extend .switcher;
  border-radius: 30px 0 0 30px;
  border-right: 1px solid rgba($nice-red, .1);
}
.right-switcher {
  border-left: 1px solid rgba($nice-red, .1);
  @extend .switcher;
  border-radius: 0 30px 30px 0;
}

.bor-rad-30 {
  border-radius: 30px;
}